[submodule "submodule/protocol"]
	path = submodule/protocol
	url = git@gitee.com:McLiYT/lcprotocol.git
	branch = master
[submodule "submodule/config"]
	path = submodule/config
	url = git@gitee.com:McLiYT/lcconfig.git
	branch = master
